._*
.~lock.*
.buildpath
.DS_Store
.idea
nbproject
.project
.settings
composer.lock
composer.phar
_reports
.lock
/web/bundles/
/web/vendor/
/web/media/
/web/uploads/
/web/docs/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar