{% extends 'CekurteGeneratorBundle::layout.html.twig' %}

{% set title    = 'Page'|trans %}
{% set subtitle = 'Editar'|trans %}

{% block links -%}
    {% embed 'CekurteGeneratorBundle:Action:list.html.twig' with {
        'route'      : 'page'
    } only %}
    {% endembed %}
    {% embed 'CekurteGeneratorBundle:Action:create.html.twig' with {
        'route'      : 'page_new'
    } only %}
    {% endembed %}
    {% embed 'CekurteGeneratorBundle:Action:delete.html.twig' with {
        'form'       : delete_form,
        'id'         : entity.id,
        'route'      : 'page_delete',
        'show_label' : true,
    } only %}
    {% endembed %}
{% endblock %}

{% block content -%}
    <form class="form-horizontal" role="form" action="{{ path('page_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}
        {% include 'CekurteGeneratorBundle:Action:form-actions.html.twig' %}
    </form>

    {% include 'CekurteUploaderBundle:TwitterBootstrap3:layout.html.twig' with {
        'endpoint': 'page',
        'label'   : 'Imagem',
        'image'   : page_image
    } %}
{% endblock %}

{%- block javascripts -%}
    {{ parent() }}

    {% include 'CekurteUploaderBundle:TwitterBootstrap3:script.html.twig' with {
        'endpoint': 'page'
    } %}
{%- endblock -%}
