{% extends 'CekurteGeneratorBundle::layout.html.twig' %}

{% set title    = 'Page'|trans %}
{% set subtitle = 'Adicionar'|trans %}

{% block links -%}
    {% embed 'CekurteGeneratorBundle:Action:list.html.twig' with {
        'route' : 'page'
    } only %}
    {% endembed %}
{% endblock %}

{% block content -%}
    <form class="form-horizontal" role="form" action="{{ path('page_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        {% include 'CekurteGeneratorBundle:Action:form-actions.html.twig' %}
    </form>

    {% include 'CekurteUploaderBundle:TwitterBootstrap3:layout.html.twig' with {
        'endpoint': 'page',
        'label'   : 'Imagem'
    } %}
{% endblock %}

{%- block javascripts -%}
    {{ parent() }}

    {% include 'CekurteUploaderBundle:TwitterBootstrap3:script.html.twig' with {
        'endpoint': 'page'
    } %}
{%- endblock -%}
