{% extends 'CekurteSiteBundle::layout.html.twig' %}

{% block content %}
    <h1>Bem vindo</h1>
    <p class="lead">Este é um projeto base para que você possa iniciar o seu trabalho no Symfony2 sem ter de realizar configurações desnecessárias a cada novo projeto.</p>
    <p><a class="btn btn-lg btn-success" href="https://github.com/CekurteSistemas/Symfony2/blob/master/README.md" role="button">Acessar documentação</a></p>
{% endblock %}